@model AbarroteriaKary.Models.NOTIFICACION

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NOTIFICACION</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TIPO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TIPO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MENSAJE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MENSAJE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIVEL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIVEL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_DETECCION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_DETECCION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESUELTA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESUELTA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESUELTA_EN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESUELTA_EN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESUELTA_POR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESUELTA_POR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CREADO_POR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CREADO_POR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_CREACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MODIFICADO_POR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MODIFICADO_POR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_MODIFICACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_MODIFICACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ELIMINADO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ELIMINADO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ELIMINADO_POR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ELIMINADO_POR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_ELIMINACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_ELIMINACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ESTADO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USUARIO_DESTINO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USUARIO_DESTINO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_PROGRAMADA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_PROGRAMADA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_ENVIO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_ENVIO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_LECTURA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_LECTURA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SNOOZE_HASTA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SNOOZE_HASTA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TITULO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TITULO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RELACION_TIPO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RELACION_TIPO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RELACION_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RELACION_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.INVENTARIO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.INVENTARIO.INVENTARIO_ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NOTIFICACION_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
