@model AbarroteriaKary.Models.CLIENTE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>CLIENTE</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CLIENTE_NOTA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CLIENTE_NOTA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CREADO_POR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CREADO_POR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_CREACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MODIFICADO_POR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MODIFICADO_POR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_MODIFICACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_MODIFICACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ELIMINADO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ELIMINADO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ELIMINADO_POR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ELIMINADO_POR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FECHA_ELIMINACION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FECHA_ELIMINACION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ESTADO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CLIENTENavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CLIENTENavigation.PERSONA_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CLIENTE_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
